

:root{
  --primary-color:"Anton", sans-serif;
  --secondary-color:"Roboto", sans-serif;
  --third-color: "Oswald", sans-serif;
}


body{
    height: 100vh;
   
}
/* @media  (max-width:600px){
    .menu h1{
    font-family: var(--primary-color);
    font-weight: 800;
    filter: drop-shadow(0 4px 30px red);
    font-size: 25px;
}
 
} */

.shade{
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: 0.3s ease;
    z-index: 40;
}

.shade.show{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.text-animation{
    transform: translateY(50px);
    opacity: 0;
    
}

#clicklog{
    

}

/* .choose_img{
    overflow: hidden;
} */


.menu2{
    opacity: 0;
    

}

#loginModal{
    opacity: 0;
}

#loginModal.show{
    opacity: 1;
    z-index: 56;
}

.menu2.show{
    opacity: 1;
    transition: 0.5s ease-in-out;
}

.images{
    background-color: red;
    width: 500px;
    height: 500px;
    transition: 2s ease-in-out;
    display: flex;

}

#sliderImage{
    display: flex;
    gap: 20px;
}