@import url('https://fonts.googleapis.com/css2?family=Anton&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
.oswald {
  font-family: "Oswald", sans-serif;
 
  
}


.roboto {
  font-family: "Roboto", sans-serif;
 
}


.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}